<app-loader></app-loader>
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Tableau de bord</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <ng-container>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Tableaux de bords</a>
                            </li>
                            <li class="breadcrumb-item active">Tableau de bord
                            </li>
                        </ng-container>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

        <div class="col-xl-12">
            <div class="row">
                <div class="col-md-6">
                    <iframe width="100%" height="695" frameborder="0" src="https://stem.ubidots.com/app/dashboards/public/widget/uTZvfGWDJ7eD1QTiy9IFuD4VOb8SidImGra6az4MjCE?embed=true"></iframe>   
                    <iframe width="100%" height="695" frameborder="0" src="https://stem.ubidots.com/app/dashboards/public/widget/n9ihFpj3X_DGf27ImlUUhJR38iViebDA6PJscWvrkPg?embed=true"></iframe>
                    <iframe width="100%" height="695" frameborder="0" src="https://stem.ubidots.com/app/dashboards/public/widget/wN93UkwSpEnheIM_tXyOpBs_3f-r87GYTMxHGzDQ8NI?embed=true"></iframe>          <div class="col-md-6">
                               </div>
            <!-- end row -->

            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-wrap">
                        <h4 class="card-title mb-4"></h4>
                        <div class="ms-auto">
                            
                        </div>
                    </div>

                             </div>
        </div>
    </div>
    <!-- end row -->
