<app-loader></app-loader>
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Tableau de bord</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <ng-container>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Tableaux de bords</a>
                            </li>
                            <li class="breadcrumb-item active">Tableau de bord
                            </li>
                        </ng-container>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

        <div class="col-xl-12">
            <div class="row">
                <div class="col-md-6">
                    <iframe width="200%" height="400" frameborder="0" src="https://stem.ubidots.com/app/dashboards/public/widget/qDxorxQf-zryDK50aXq6uv5kFKAToghuPyDOkYHjkN4?embed=true"></iframe> 
                    <iframe width="200%" height="500" frameborder="0" src="https://stem.ubidots.com/app/dashboards/public/widget/hRj4BCHX7GsMUI7-yc2Xuj88J_Q7imIt02EgaolTJzk?embed=true"></iframe>
                    <iframe width="200%" height="500" frameborder="0" src="https://stem.ubidots.com/app/dashboards/public/widget/cNaJheFR9QjfRDoZHQ1c34s03YFDcEqt6M9ZkSN9Gb4?embed=true"></iframe>
                          <div class="col-md-6">
                               </div>
            <!-- end row -->

            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-wrap">
                        <h4 class="card-title mb-4"></h4>
                        <div class="ms-auto">
                            
                        </div>
                    </div>

                             </div>
        </div>
    </div>
    <!-- end row -->
