<!-- src/app/components/alertes/list.component.html -->
<div class="container-fluid">
  <app-page-title title="Alertes" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Alertes</h5>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-middle dt-responsive nowrap w-100 table-check" id="alert-list">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Type</th>
                  <th scope="col">Status</th>
                  <th scope="col">Date</th>
                  <th scope="col">Id Capteur</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of lists">
                  <th scope="row">{{data.id}}</th>
                  <td>{{data.type}}</td>
                  <td>{{data.status}}</td>
                  <td>{{data.date | date:'short'}}</td>
                  <td>{{data.capteur.id}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
