<div class="container-fluid">

  <app-page-title title="Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-primary-subtle">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Welcome Back !</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img src="assets/images/users/avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <th scope="row">Nom :</th>
                  <td>Cynthia Price</td>
                </tr>
                <tr>
                  <th scope="row">NumTelephone :</th>
                  <td>(123) 123 1234</td>
                </tr>
                <tr>
                  <th scope="row">E-mail :</th>
                  <td>cynthiaskote@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row">Grade:</th>
                  <td>California, United States</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Mes Comptes Rendus</h4>
          <div class="table-responsive">
            <table class="table table-nowrap table-hover mb-0">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Comptes Rendus</th>
                  <th scope="col"> Date</th>
                  <th scope="col">Heure</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Skote admin UI</td>
                  <td>2 Sep, 2019</td>
                  <td>20 Oct, 2019</td>
                </tr>

                <tr>
                  <th scope="row">2</th>
                  <td>Skote admin Logo</td>
                  <td>1 Sep, 2019</td>
                  <td>2 Sep, 2019</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Redesign - Landing page</td>
                  <td>21 Sep, 2019</td>
                  <td>29 Sep, 2019</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>App Landing UI</td>
                  <td>29 Sep, 2019</td>
                  <td>04 Oct, 2019</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Blog Template</td>
                  <td>05 Oct, 2019</td>
                  <td>16 Oct, 2019</td>
                
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Redesign - Multipurpose Landing</td>
                  <td>17 Oct, 2019</td>
                  <td>05 Nov, 2019</td>
                 
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>Logo Branding</td>
                  <td>04 Nov, 2019</td>
                  <td>05 Nov, 2019</td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <!-- end row -->

