<div class="container-fluid">
  <app-page-title title="Supervision" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" id="searchTableList" placeholder="Search...">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
        
          </div>
          <!-- end row -->
          <div class="table-responsive">
            <table class="table align-middle table-nowrap table-hover dt-responsive nowrap w-100" id="userList-table">
              <thead class="table-light">
                <tr>
                  <th scope="col" style="width: 40px;">#</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Email</th>
                  <th scope="col">Grade</th>
                  <th scope="col">NumTelephone</th>
                  <th scope="col" style="width: 200px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of contacts; let i = index;">
                  <td>
                    <div class="avatar-xs" *ngIf="!data.profile">
                      <span class="avatar-title rounded-circle">
                        {{ data.nom.charAt(0) }}
                      </span>
                    </div>
                    <div *ngIf="data.profile">
                      <img class="rounded-circle avatar-xs" src="{{ data.profile }}" alt="">
                    </div>
                  </td>
                  <td>
                    <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">{{ data.nom }}</a></h5>
                  </td>
                  <td>{{ data.email }}</td>
                  <td>{{ data.grades }}</td>
                  <td>{{ data.numTelephone }}</td>
                  <td>
                    <ul class="list-inline font-size-20 contact-links mb-0">
                      <li class="list-inline-item px-2">
                        <a href="javascript:void(0);" tooltip="Profile"><i class="bx bx-user-circle"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <div class="dropdown">
                          <a href="javascript: void(0);" class="dropdown-toggle card-drop px-2" data-bs-toggle="dropdown"> <i class="mdi mdi-dots-horizontal font-size-18"></i> </a>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li><a href="javascript:void(0);" (click)="editUser(i)" class="dropdown-item edit-list" data-edit-id="8"><i class="mdi mdi-pencil font-size-16 text-success me-1"></i> Edit</a></li>
                            <li><a href="javascript:void(0);" (click)="removeUser(i)" class="dropdown-item remove-list" data-remove-id="8"><i class="mdi mdi-trash-can font-size-16 text-danger me-1"></i> Delete</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-lg-12">
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New Contact Modal -->

<!-- end newContactModal -->

<!-- removeItemModal -->
<div class="modal fade" id="removeItemModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body px-4 py-5 text-center">
        <button type="button" class="btn-close position-absolute end-0 top-0 m-3" data-bs-dismiss="modal"></button>
        <div class="avatar-sm mb-4 mx-auto">
          <div class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3">
            <i class="mdi mdi-trash-can-outline"></i>
          </div>
        </div>
        <p class="text-muted font-size-16 mb-4">Are you Sure You want to Remove this User?</p>
        <div class="hstack gap-2 justify-content-center mb-0">
          <button type="button" class="btn btn-danger me-1" (click)="confirmDelete()">Remove Now</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end removeItemModal -->
