<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-primary-subtle">
            <div class="row">
              <div class="col-7">
             
              </div>
             
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
       
            </div>
            <div class="p-2">

              <form #signupForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

                <alert type="success" *ngIf="successmsg" [dismissible]="false">Registration successful.
                </alert>

                <alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</alert>

                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>

                  <input type="text" name="username" [(ngModel)]="utilisateur.nom" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && !utilisateur.nom }" id="username"
                    placeholder="Enter username" required />

                  <div *ngIf="submitted && !utilisateur.nom" class="invalid-feedback">
                    Username is required
                  </div>
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>

                  <input type="email" name="email" [(ngModel)]="utilisateur.email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && !utilisateur.email }" id="email" placeholder="Email" required />

                  <div *ngIf="submitted && !utilisateur.email" class="invalid-feedback">
                    Email is required
                  </div>
                  <div *ngIf="submitted && utilisateur.email && !signupForm.controls.email.valid" class="invalid-feedback">
                    Email must be a valid email address
                  </div>
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>

                  <input type="password" name="password" [(ngModel)]="utilisateur.motDePasse" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && !utilisateur.motDePasse }" id="password" placeholder="Password" required />

                  <div *ngIf="submitted && !utilisateur.motDePasse" class="invalid-feedback">
                    Password is required
                  </div>
                </div>

                <div class="mb-3">
                  <label for="numTelephone" class="form-label">Phone Number</label>

                  <input type="text" name="numTelephone" [(ngModel)]="utilisateur.numTelephone" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && !utilisateur.numTelephone }" id="numTelephone" placeholder="Phone Number" required />

                  <div *ngIf="submitted && !utilisateur.numTelephone" class="invalid-feedback">
                    Phone Number is required
                  </div>
                </div>

                <div class="mb-3">
                  <label for="grades" class="form-label">Grade</label>

                  <select name="grades" [(ngModel)]="utilisateur.grades" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && !utilisateur.grades }" id="grades" required>
                    <option value="" disabled>Select Grade</option>
                    <option value="Technicien">User</option>
                    <option value="Admin">Admin</option>
                  </select>

                  <div *ngIf="submitted && !utilisateur.grades" class="invalid-feedback">
                    Grade is required
                  </div>
                </div>

                <div class="mt-4 d-grid">
                  <button class="btn btn-primary" type="submit">Register</button>
                </div>
         
            
              </form>
            </div>
          </div>
        </div>
        <!-- end card -->

        <div class="mt-5 text-center">
          <p>Avez vous déjà un compte? <a routerLink="/account/login" class="fw-medium text-primary"> Login</a>
          </p>
          
        </div>
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
